$font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$max-width: 68.75rem;
$app-background: #FFFFFF;
$app-foreground: #000000;

$paddin-0: 0;
$paddin-1: 0.25rem; // 4px
$paddin-2: 0.5rem; // 8px
$paddin-3: 0.75rem; // 12px
$paddin-4: 1rem; // 16px
$paddin-5: 1.25rem; // 20px
$paddin-6: 1.5rem; // 24px
$paddin-7: 1.75rem; // 28px
$paddin-8: 2rem; // 32px
$paddin-9: 2.25rem; // 36px
$paddin-10: 2.5rem; // 40px
$paddin-11: 2.75rem; // 44px
$paddin-12: 3rem; // 48px

$maergin-0: 0;
$maergin-1: 0.25rem; // 4px
$maergin-2: 0.5rem; // 8px
$maergin-3: 0.75rem; // 12px
$maergin-4: 1rem; // 16px
$maergin-5: 1.25rem; // 20px
$maergin-6: 1.5rem; // 24px
$maergin-7: 1.75rem; // 28px
$maergin-8: 2rem; // 32px
$maergin-9: 2.25rem; // 36px
$maergin-10: 2.5rem; // 40px
$maergin-11: 2.75rem; // 44px
$maergin-12: 3rem; // 48px

$spacing-0: 0;
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 0.75rem; // 12px
$spacing-4: 1rem; // 16px
$spacing-5: 1.25rem; // 20px
$spacing-6: 1.5rem; // 24px
$spacing-7: 1.75rem; // 28px
$spacing-8: 2rem; // 32px
$spacing-9: 2.25rem; // 36px
$spacing-10: 2.5rem; // 40px
$spacing-11: 2.75rem; // 44px
$spacing-12: 3rem; // 48px

$font-size-0: 0.75rem; // 12px
$font-size-1: 0.875rem; // 14px
$font-size-2: 1rem; // 16px
$font-size-3: 1.125rem; // 18px
$font-size-4: 1.25rem; // 20px
$font-size-5: 1.5rem; // 24px
$font-size-6: 1.875rem; // 30px
$font-size-7: 2.25rem; // 36px
$font-size-8: 3rem; // 48px
$font-size-9: 4rem; // 64px
$font-size-10: 5.25rem; // 84px

$border-radius-0: 0;
$border-radius-1: 0.125rem; // 2px
$border-radius-2: 0.25rem; // 4px
$border-radius-3: 0.375rem; // 6px
$border-radius-4: 0.5rem; // 8px
$border-radius-5: 0.75rem; // 12px
$border-radius-6: 1rem; // 16px