@import '@/shared-styles/variables.module.scss';

$max-image-height: 11.875rem;
$filler-bar-height: 0.375rem;

.character_card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $app-foreground;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: $spacing-8;
        height: $spacing-8;
        background-color: $app-background;
        transform: rotate(45deg) translateX(85%);
    }
}

.character_card__image {
    width: 100%;
    height: $max-image-height;
    object-fit: cover;
}

.character_card__filler {
    content: '';
    width: 100%;
    height: $filler-bar-height;
    background-color: red;
}

.character_card__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr $spacing-4;
    gap: $spacing-2;
    align-items: center;
    flex-grow: 1;
    text-wrap: wrap;
    padding: $paddin-4 $paddin-4 $paddin-6 $paddin-4;
}

.character_card__button {
    background: none;
    border: none;
}